<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cursos INAEM</title>

    <link href="inaem.js" type="application/json" rel="exhibit-data" />
    <!-- Replace the URL here with your Exhibit 3.0 script location -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap-theme.min.css">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="http://api.simile-widgets.org/exhibit/HEAD/lib/jquery-1.7.2.min.js" type="text/javascript">
    </script>
    <link rel="exhibit-extension" href="http://api.simile-widgets.org/exhibit/3.1.1/extensions/map/map-extension.js" />
    <script src="http://api.simile-widgets.org/exhibit/3.1.1/exhibit-api.js" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    .exhibit-cloudFacet-value {
        font-size: smaller;
        text-transform: lowercase;
    }
    .exhibit-facet-value {
        font-size: smaller;
    }
    </style>
    <script type="text/javascript">
    var tableStyler = function(table, database) {
        $(table).addClass("table table-hover");
    };
    </script>
</head>

<body>

    <div data-ex-role="collection" data-ex-item-types="curso"></div>



    <div data-ex-role="lens" class="a-lens" style="display: none;" data-ex-item-types="curso">
        <div class="title">
            <span data-ex-content=".nombre"></span>
        </div>


    </div>
    <!--<div data-ex-role="collection" data-ex-item-types="Competencia" id="col_competencias">-->
    </div>
    <div class="container-fluid">

        <div class="col-xs-8 center-block" style="float:none;">
            <center>
                <h2>Selector de cursos de formación para el empleo</h2>

                <p>Información extraída del <a href="https://plan.aragon.es/MapaRec.nsf">listado general de acciones formativas del INAEM</a> el  ***** (<a href="entidades.html">Listado de Entidades formadoras</a>)
                </p>
            </center>
        </div>

        <div class="row">
            <div class="col-md-3">

                <div data-ex-role="exhibit-facet" data-ex-facet-class="TextSearch" data-ex-facet-label="Busca un curso" data-ex-show-missing="false" data-ex-expressions=".label, .especialidad, .fecha, .horario, .familia, .modalidad, .id_centro.label">
                </div>

                <br>
                <div data-ex-role="facet" data-ex-facet-class="Cloud" data-ex-expression=".mes_inicio" data-ex-facet-label="Inicio" data-ex-show-missing="false"></div>

                <div data-ex-role="facet" data-ex-facet-class="Cloud" data-ex-expression=".horario" data-ex-facet-label="Horario" data-ex-show-missing="false"></div>

                <div data-ex-role="facet" data-ex-facet-class="Cloud" data-ex-expression=".modalidad" data-ex-facet-label="¿Presencial?" data-ex-show-missing="false"></div>

                <div data-ex-role="facet" data-ex-facet-class="Cloud" data-ex-expression=".certif_prof" data-ex-facet-label="¿Certificado Profesionalidad?" data-ex-show-missing="false"></div>

                <div data-ex-role="facet" data-ex-facet-class="Cloud" data-ex-expression=".id_centro.localidad" data-ex-facet-label="¿Dónde?" data-ex-show-missing="false"></div>


            </div>

            <div class="col-md-6">
                <div data-ex-role="exhibit-viewPanel">


                    <div data-ex-role="view" data-ex-view-class="Map" data-ex-latlng=".id_centro.latlon" data-ex-zoom="8" data-ex-center="41.50, -0.87" data-ex-map-height="600" data-ex-label="¿Dónde hay cursos?" data-ex-shape-alpha="0.6">

                        <div data-ex-role="lens" class="a-lens" style="display: none;">
                            <div class="title">
                                <a data-ex-href-subcontent="https://plan.aragon.es/MapaRec.nsf/(ID)/{{.url}}?OpenDocument">
                                    <span data-ex-content=".label"></span> </a>

                            </div>

                            <table class="details table table-striped">
                                <tr>
                                    <td class="property">Centro:</td>
                                    <td>
                                        <span data-ex-content=".id_centro.label"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="property">Fecha:</td>
                                    <td>
                                        <span data-ex-content=".fecha"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="property">Horas:</td>
                                    <td>
                                        <span data-ex-content=".horas"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="property">Requisitos:</td>
                                    <td>
                                        <span data-ex-content=".requisitos"></span>

                                    </td>
                                </tr>
                                <tr data-ex-if-exists=".num_preinscr">
                                    <td class="property">Preinscritos:</td>
                                    <td>
                                        <span data-ex-content=".num_preinscr"></span>

                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">

                <div data-ex-role="facet" data-ex-expression=".id_centro.label" data-ex-facet-label="Centro de formación" data-ex-show-missing="false" data-ex-height="300" data-ex-sort-mode="count"></div>
                <div data-ex-role="facet" data-ex-expression=".familia" data-ex-facet-label="Especialidad" data-ex-show-missing="false" data-ex-height="300"></div>

            </div>

        </div>

        <footer>
            <p>by @lmorillas. Advertencia: La geolocalización es automática y puede tener errores</p>
        </footer>
    </div>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-1734348-11', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>
